/* Styling that effects whole page */
body {
    background: url("assets/image/background.jpg");
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
  }


.box {
	margin: auto;
	width: 50%;
	min-height: 100px;
	box-shadow: 12px 0 15px -4px rgba(0, 0, 0, 0.8), -12px 0 8px -4px rgba(0, 0, 0, 0.8);
	background: #252934; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(bottom, rgba(37,41,52,0.8), rgba(20,20,20,0.9999999)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, rgba(37,41,52,0.8), rgba(20,20,20,0.9999999)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom, rgba(37,41,52,0.8), rgba(20,20,20,0.9999999)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(37,41,52,0.8), rgba(20,20,20,0.9999999)); /* Standard syntax (must be last)*/ 
}

.inputReply {
    color: white;
}

.outputReply {
	color: white;
}

.userName {
    color: #4d94b1!important;
}

.inputBox {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    float: right;
}